<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALADIN_TTB_KEY</key>
	<string>$(ALADIN_TTB_KEY)</string>
	<key>NSCameraUsageDescription</key>
	<string>책 바코드를 인식하기 위해 카메라 접근이 필요합니다.</string>
	<key>GOOGLE_BOOKS_KEY</key>
	<string>$(GOOGLE_BOOKS_KEY)</string>
</dict>
</plist>
